.masters {
    background: #f7f7f7;
    padding-top: 84px;
    padding-bottom: 84px;
    @media screen and (min-width: 1200px) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.masters__pre-title {
    margin-bottom: 20px;
    ::before {
        background-color: var(--third-text-color);
    }
}



.masters__title {
    color: var(--third-text-color);
    margin-bottom: 44px;
}

.masters-list__item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    color: var(--second-title-color);
}

.masters-list__item-text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--accent-color);
    margin-bottom: 30px;
}

.masters-list {
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    
}



.masters-list__content {
    padding-top: 30px;
}

/* .masters-item:nth-child(3n) {
    margin-right: 0;
}

.masters-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
} */

.socials {
    display: flex;
    justify-content: center;
}

.socials__item {
    width: 44px;
    height: 44px;
    & + & {
        margin-left: 10px;
    }
}



.socials__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
     @extend %align-list;
    justify-content: center;
    background-color: tomato;
    color: #ffffff;
    transition: color 300ms linear, background-color 300ms linear;
    &:hover,
    &:focus {
        background-color: teal;
        color: var(--accent-color);
    }
}

.socials__icon {
    fill: currentColor;
}



/* .masters-social-link:hover,
.masters-social-link:focus {
    background-color: teal;
}

.masters-social-link:hover .masters-social-icon,
.masters-social-link:focus .masters-social-icon {
    fill: var(--accent-color);
} */

.masters-list__item-wrap {
    position: relative;
    overflow: hidden;
}

.masters-list__item {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
        width: calc(100% / 3 - 30px);
    }
}



.masters-list__top-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    padding: 40px 30px;
    background-color: rgba(255, 68, 0, 0.767);
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms;
    overflow: auto;
    .masters-list__item:hover & {
        transform: translateY(0);
    }
}