.pre-title {
    text-transform: uppercase;
    @include font(11px, 1.91, 0.1em, 600);
    @extend %align-list;
    @media screen and (min-width: 768px) {
        @include font(11px, 1.36, 0.1em, 600);
    }
    &::before {
        content: "";
        width: 63px;
        height: 1px;
        margin-right: 21px;
    }
}

.pre-title--color-dark {
    color: var(--third-text-color);
}

.pre-title--color-light {
    color: var(--first-text-color);
}

